.container {
  background: rgb(246, 248, 255);
  @media (max-width: 1024px) {
    padding: 2rem 3rem;
  }
  .wrapper {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 3.1rem 7rem;
    .header-wrapper {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      .header-btn {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        border: none;
        background: none;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 1.9rem;
        letter-spacing: 0.25rem;
        color: rgb(75, 106, 155);
        cursor: pointer;
      }
    }
    .invoice-wrapper {
      .invoice-wrapper__form {
        padding: 3rem 2.4rem;
        background: rgb(254, 254, 254);
        width: 100%;
        border-radius: 1.5rem;
        margin-top: 1.6rem;
        box-shadow: rgb(70 96 187 / 20%) 0px 16px 30px -10px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @media (max-width: 1024px) {
          width: 100%;
        }
        .invoice-title__wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .invoice-title__from {
            margin-bottom: 1rem;
          }
          .invoice-title__btn {
            width: 25px;
            height: 25px;
            cursor: pointer;
            background: rgb(254, 254, 254);
            border: 1px solid rgb(70 96 187 / 20%);
            border-radius: 50%;
            transition: 0.3s ease;
          }
          .invoice-title__btn:hover {
            background: rgb(246, 248, 255);
          }
          .invoice-title__btn:active {
            background: rgb(254, 254, 254);
          }
        }
        .invoice-memebers {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          gap: 10px;

          @media (max-width: 1024px) {
            flex-wrap: wrap;
          }
          .invoice-item {
            border-radius: 1rem;
            border: 1px solid rgb(70 96 187 / 20%);
            background: rgb(246, 248, 255);
            padding: 1rem 2rem;
            width: 100%;
            cursor: pointer;
            pointer-events: all;
            .invoice-wrapper__form-card-subtitle {
              display: flex;
              flex-direction: row;
              gap: 30px;
              .invoice-wrapper__form-card-icon {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
      .invoice-wrapper__result {
        padding: 3rem 2.4rem;
        background: rgb(254, 254, 254);
        width: 50%;
        border-radius: 1.5rem;
        margin-top: 1.6rem;
        max-width: 73.3rem;
        box-shadow: rgb(70 96 187 / 20%) 0px 16px 30px -10px;
        display: flex;
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }
}
